html{font-family:calibri;}

body{background-image: url("textura.png");}

#general{width:900px;height:612px;margin:0 auto;background:#FFF;border-radius: 0.5em;}

#top{background:#276171;width:900px;height:80px;border-radius: 0.5em;clear:both;top:0px;position:relative;}

#top h1{color:#FFF;position:relative;float:right;left:80px;}

#top h1.sombra{color:#000;position:relative;left:-125px;float:right;}

#imgtop{position:relative;left:150px;}

#left{width:150px;height:490px;float:left;background:#FFF;}

.selected{
	color: #000;
	text-decoration:none;
}

ul.nav { 
	margin:0; 
	padding:10px;
	padding-bottom:70px;
	padding-top:50px;
	line-height:200%;
	}

ul.nav li {
	list-style:none;	
	display:inline;
	}
ul.nav li a {
	float:left;
	width:6.0em;
	font:0.68em  Verdana, Arial, Helvetica, 
	sans-serif;
	color:#3c0cc4;
	text-align:center;
	padding:0  0.2em 0.2em  0;
	text-decoration:none;
	}
ul.nav a:hover{
	text-decoration:none;
	color:#276171;
	}

#right{width:150px;height:490px;float:right;background:#FFF;}

#right img{margin:0 auto;}

#middle{width:600px;height:500px;float:left;background:#FFF;}

#middle1{width:594px;height:220px;float:left;}

#middle2{width:594px;height:110px;float:left;}

#middle3{width:594px;height:110px;float:left;}

#middle4{width:594px;height:110px;float:left;}

.text{text-align:right;font-style:italic;padding-right:10px;}

.text2{text-align:left;font-style:italic;margin:10px; float:left;}

#middle1 img{float:left;}

#middle2 img{float:left;}

#middle3 img{float:left;}

#footer{background:#276171;width:900px;height:50px;border-radius: 0.5em;position:absolute;bottom:0;}

#footer p, a:hover{
	color:#FFF;
	font-style:italic;
	text-align:center;
}
#footer a{
	color:#FFF;
	text-decoration:none;
}
	