<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="content-language" content="pt" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="reply-to" content="fechine@gmail.com" />
		<meta name="robots" content="index,follow" />
		<meta name="revisit-after" content="1" />
		<meta name="classification" content="Tecnology" />
		<meta name="distribution" content="global" />
		<meta name="rating" content="general" />
		<meta name="language" content="pt-br" />
		<title>Cibereduc@ção</title>
		<link rel="stylesheet" type="text/css" href="styles/general.css" />
	</head>	
	<body>
		<div id="general">
			<div id="top">
				<img id="imgtop" src="img/img3.png" />
				<h1 class="sombra">Cibereduc@ção</h1>
				<h1>Cibereduc@ção</h1>
			</div>
            <div id="middletudo">
                <div id="middle">
                    <div class="curso2">
					    <h3 class="text">Contatos</h3><hr />
				    </div>
				    <div id="middle2"></div>
				    <div class="curso2"> 			
					    <hr />
					    <h3 class="text2">Parceiros</h3>
					    <br /><br />
					    <img src="img/parceiro.png" alt="marketing" />
					    <br />
				    </div>
			    </div>
            </div>
			<div id="left">
				<ul class="nav">
					<a href="index.html" ><li>Home</li></a><br />
					<a href="empresa.html" ><li>Empresa</li></a><br />
					<a href="servico.html"><li>Serviços</li></a><br />
					<a href="curso.html"><li>Cursos</li></a><br />
					<a href="noticias.html"><li>Notícias</li></a><br />
					<a href="wallpapers.html"><li>Wallpapers</li></a><br />
					<a href="contatos.html"  class="selected"><li>Contatos</li></a><br />
				</ul>
				<a href="http://www2.abed.org.br/" target="_blank" ><img src="img/abed.jpg" alt="abed" /></a>
			</div>		
			<div id="right">
				<a href="http://" target="_blank"><img src="img/clouds.jpg" alt="clouds" /></a>
				<a href="http://www.moodle.org"target="_blank"><img src="img/moodle.jpg" alt="moodle" /></a>
				<a href="http://www.twitter.com"target="_blank" ><img src="img/twitter.jpg" alt="twitter" /></a>
				<a href="http://www.facebook.com" target="_blank"><img src="img/facebook.jpg" alt="facebook" /></a>
				<a href="http://www.linkedin.com" target="_blank"><img src="img/linked.jpg" alt="linkedin" /></a>
				<a href="http://www.coolQR.com" target="_blank"><img src="img/coolqr.jpg" alt="coolqr" /></a>
			</div>
			<div id="footer">
				<p>Copyright &copy; 2011 - Todos os direitos reservados - <a href="www.pensareducacao.com.br">www.pensareducacao.com.br</a></p>
			</div>
		</div>	
	</body>
</html>
